@font-face {
	font-family: 'Banny Bold Round';
	src: url('fonts/Banny-BoldRound.eot');
	src: local('☺'), url('../fonts/Banny-BoldRound/Banny-BoldRound.woff') format('woff'), url('../fonts/Banny-BoldRound/Banny-BoldRound.ttf') format('truetype'), url('../fonts/Banny-BoldRound/Banny-BoldRound.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url('normalize_null.css');

//переменные
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$yellow: rgba(232, 195, 0, 1);
$grey: rgba(229, 229, 229, 1);
$grey-dark: rgba(51, 51, 51, 0.5);
$lines-color: rgba(255, 255, 255, 0.2);

$main-font: 'Open Sans', sans-serif;
$title-font: 'Banny Bold Round', sans-serif;

//основные элементы
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: $black;
	@media (max-width: 767px) {
		&.lock {
			overflow: hidden;
		}
	}
}
.wrapper {
	max-width: 1440px;
	min-width: 280px;
	overflow: hidden;
	min-height: 100%;
}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
.content {
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1440px;
	padding: 0 5%;
	margin: 0 auto;
}

a, button, input[type="submit"] {
	cursor: pointer;
}

//миксины
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@mixin lines {
	position: relative;
	&:before {
		content: '';
		width: 60%;
		height: 100%;
		border: 1px solid $lines-color;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	&:after {
		content: '';
		width: 1px;
		height: 100%;
		background-color: $lines-color;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
@mixin flexbox {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	.column {
		flex: 0 1 50%;
		.pic {
			position: relative;
			width: 100%;
			height: auto;
			img {
				width: 85%;
				height: auto;
				border-radius: 5px;
				filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
			}
			.square {
				display: block;
				width: 43%;
				position: absolute;
				top: 50%;
				border: 20px solid $yellow;
				border-radius: 5px;
				filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
				&:after {
					content: '';
					display: block;
					padding-top: 100%;
				}
			}
		}
		&_left {
			margin: 0 5% 0 0;
			.pic {
				text-align: right;
				.square {
					left: 0;
					transform: translate(-20%, -50%);
				}
			}
		}
		&_right {
			margin: 0 0 0 5%;
			.pic {
				text-align: left;
				.square {
					right: 0;
					transform: translate(20%, -50%);
				}
			}
		}
	}
	@media (max-width: 767px) {
		display: block;
		.pic {
			img {
				width: 70%;
			}
			.square {
				border: 15px solid $yellow;
			}
		}
		.column {
			&_left {
				margin: 0 0 30px 0;
				.pic {
					.square {
						transform: translate(0, -50%);
					}
				}
			}
			&_right {
				margin: 0 0 0 0;
				.pic {
					.square {
						transform: translate(0%, -50%);
					}
				}
			}
		}
	}
}

// общие классы
.title-article {
	font-family: $title-font;
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 40px 0;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		background: $yellow;
		width: 59px;
		height: 5px;
		border-radius: 50px;
		bottom: -18px;
		left: 50%;
		transform: translate( -50%, 0%);
	}
	@media (max-width: 1200px) {
		font-size: 30px;
		line-height: 38px;
	}
	@media (max-width: 767px) {
		font-size: 26px;
		line-height: 34px;
	}
}
.subtitle {
	font-family: $main-font;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	@media (max-width: 1200px) {
		font-size: 16px;
		line-height: 16px;
	}
	@media (max-width: 767px) {
		font-size: 15px;
		line-height: 24px;
	}
}
.title-section {
	font-family: $main-font;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: $white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	margin: 0 0 40px 0;
	position: relative;
	z-index: 1;
	@media (max-width: 1200px) {
		font-size: 11px;
		line-height: 12px;
	}
	@media (max-width: 767px) {
		font-size: 10px;
		line-height: 11px;
	}
}
.text {
	font-family: $main-font;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	@media (max-width: 1200px) {
		font-size: 13px;
		line-height: 22px;
	}
	@media (max-width: 767px) {
		font-size: 12px;
		line-height: 20px;
	}
}
.o-input {
	width: 100%;
	background: $grey;
	border: none;
	border-radius: 5px;
	height: 60px;
	margin: 0 0 10px 0;
	transition: background-color .5s linear;
	font-family: $main-font;
	font-size: 14px;
	line-height: 19px;
	color: $grey-dark;
	padding: 0 20px 0 20px;
	border: 1px solid transparent;
	&:hover,
	&:focus {
		background-color: $white;
		border: 1px solid $grey;
	}
}
.btn-y {
	width: 100%;
	height: 60px;
	background: $yellow;
	border: 1px solid transparent;
	border-radius: 5px;
	font-family: $main-font;
	color: $white;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	transition: background-color .5s linear;
	&:hover {
		background-color: $white;
		color: $black;
		border: 1px solid $grey;
	}
}
.form__box {
	display: flex;
	.column-form {
		flex: 0 1 50%;
		&_left {
			margin: 0 5px 0 0;
		}
		&_middle {
			margin: 0 5px 0 5px;
		}
		&_right {
			margin: 0 0 0 5px;
		}
	}
	@media (max-width: 767px) {
		display: block;
		.column-form {
			&_left {
				margin: 0 0 0 0;
			}
			&_middle {
				margin: 0 0 0 0;
			}
			&_right {
				margin: 0 0 0 0;
			}
		}
	}
}
.text-sm {
	font-size: 12px;
	font-family: $main-font;
	letter-spacing: .07em;
	text-align: center;
	position: relative;
	z-index: 1;
	span {
		font-weight: 600;
		white-space: nowrap;
	}
	@media (max-width: 767px) {
		span {
			line-height: 16px;
		}
	}
}
.sent {
	display: block;
	text-align: right;
	height: 12px;
	margin: 5px 0 5px 0;
	font-size: 12px;
	font-weight: normal;
	font-family: $main-font;
	color: $grey-dark;
}
//============================================================================================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	max-width: 3500px;
	transform: translate(-50%, 0);	
	z-index: 50;
	top: 0;
	padding-top: 30px;
	.menu {
		&__icon {
			display: none;
			background-color: transparent;
			border: none;
		}	
		&__list {
			display: flex;
			justify-content: space-between;
			position: relative;
			padding: 0 5%;
			.list__left {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-right: 140px;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					width: 120%;
					height: 1px;
					background-color: $lines-color;
					left: -10%;
					bottom: -45px;
					}
			}
			.list__right {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-left: 140px;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					width: 120%;
					height: 1px;
					background-color: $lines-color;
					left: -10%;
					bottom: -45px;
				}
			}
			li {
				a {
					color: $white;
					font-family: $main-font;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 18px;
					padding: 45.5px 20px 46px 20px;
					border: 1px solid transparent;
					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					transition: border .5s linear;
					&:hover {
						border: 1px solid rgba(255, 255, 255, 0.7);
					}
				}
			}
		}
	}
	&.hidden {
		.menu__body {
			height: 100vh;
			background-color: rgba(34, 32, 32, 1);
			position: absolute;
			top: 0;
			left: -100%;
			transition: left .5s linear;
			&.active {
				left: -1px;
			}
		}
		.menu__icon {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			&:hover {
				span {
					background-color: rgba(71, 59, 51, 0.7);
					box-shadow: .3px .3px 0px $white, .3px -.3px 0px $white, -.3px .3px 0px $white, -.3px -0.3px 0px $white;
				}
				&:before,
				&:after {
					background-color: rgba(71, 59, 51, 0.7);
					box-shadow: .3px .3px 0px $white, .3px -.3px 0px $white, -.3px .3px 0px $white, -.3px -0.3px 0px $white;
				}
			}
			span {
				background-color: $white;
				box-shadow: .3px .3px 0px rgba(70, 70, 70, 0.7), .3px -.3px 0px rgba(70, 70, 70, 0.7), -.3px .3px 0px rgba(70, 70, 70, 0.7), -.3px -0.3px 0px rgba(70, 70, 70, 0.7);
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: transform .5s linear;
			}
			&:before,
			&:after {
				content: '';
				background-color: $white;
				box-shadow: .3px .3px 0px rgba(70, 70, 70, 0.7), .3px -.3px 0px rgba(70, 70, 70, 0.7), -.3px .3px 0px rgba(70, 70, 70, 0.7), -.3px -0.3px 0px rgba(70, 70, 70, 0.7);
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: transform .5s linear;
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
		}
		.menu__list {
		  display: block;
		  padding: 50px 0 15px 0;
		  .list__left, .list__right {
				display: block;
				&:before {
					display: none;
				}
			}
			.list__left {
				margin-right: 0;
			}
			.list__right {
				margin-left: 0;
			}
			li {
				margin: 0 0 20px 0;
				a {
					text-align: right;
					font-size: 26px;
					display: block;
					padding: 15px 30px 15px 100px;
					text-shadow: none;
				}
				&:hover {
				  	background-color: rgba(129, 126, 123, 1);
				}
			  }
		}
	}
	@media (max-width: 1199px) {
		.menu__body {
			height: 100vh;
			background-color: rgba(34, 32, 32, 1);
			position: absolute;
			top: 0;
			left: -100%;
			transition: left .5s linear;
			&.active {
				left: -1px;
			}
		}
		.menu__icon {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			&:hover {
				span {
					background-color: rgba(70, 70, 70, 0.7);
					box-shadow: .3px .3px 0px $white, .3px -.3px 0px $white, -.3px .3px 0px $white, -.3px -0.3px 0px $white;
				}
				&:before,
				&:after {
					background-color: rgba(70, 70, 70, 0.7);
					box-shadow: .3px .3px 0px $white, .3px -.3px 0px $white, -.3px .3px 0px $white, -.3px -0.3px 0px $white;
				}
			}
		}
		.menu__icon span {
			background-color: $white;
			box-shadow: .3px .3px 0px rgba(70, 70, 70, 0.7), .3px -.3px 0px rgba(70, 70, 70, 0.7), -.3px .3px 0px rgba(70, 70, 70, 0.7), -.3px -0.3px 0px rgba(70, 70, 70, 0.7);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
			transition: transform .5s linear;
		}
		.menu__icon:before,
		.menu__icon:after {
			content: '';
			background-color: $white;
			box-shadow: .3px .3px 0px rgba(70, 70, 70, 0.7), .3px -.3px 0px rgba(70, 70, 70, 0.7), -.3px .3px 0px rgba(70, 70, 70, 0.7), -.3px -0.3px 0px rgba(70, 70, 70, 0.7);
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: transform .5s linear;
		}
		.menu__icon:before {
			top: 0;
		}
	
		.menu__icon:after {
			bottom: 0;
		}
		.menu__list {
			display: block;
			padding: 50px 0 15px 0;
			.list__left, .list__right {
					display: block;
					&:before {
						display: none;
					}
				}
			.list__left {
				margin-right: 0;
			}
			.list__right {
				margin-left: 0;
			}
		}
		.menu__list li {
		  margin: 0 0 20px 0;
		  a {
			  text-align: right;
			  font-size: 26px;
			  display: block;
			  padding: 15px 30px 15px 100px;
			  text-shadow: none;
		  }
		  &:hover {
			background-color: rgba(129, 126, 123, 1);
			}
		}
	}
	@media (min-width:768px) and (max-height: 620px) {
		&, &.hidden {
			.menu__body {
				max-height: 100vh;
				overflow-y: scroll;
			}
		}
	}
	@media (max-width: 767px) {
		&, &.hidden {
			.menu__body {
				width: 100%;
			}
			.menu__list li {
				margin: 0;
				a {
					padding: 15px 10px 15px 10px;
					text-align: center;
				}
			}
		}
	}
	@media (max-width:767px) and (max-height: 490px) {
		&, &.hidden {
			.menu__body {
				max-height: 100vh;
				overflow-y: scroll;
			}
		}
	}
}
//============================================================================================================================================================================
.fullscreen {
	flex: 1 0 100%;
	background: url('../img/fullscreen-bg.jpg') center/cover no-repeat;
	min-height: 600px;
	position: relative;
	overflow: hidden;
	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	&__logo {
		width: 150px;
		height: 150px;
		overflow: hidden;
		position: absolute;
		left: 50%;
		top: 25px;
		transform: translate( -50%, 0%);
		z-index: 2;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__content {
		color: $white;
		position: relative;
		height: calc(100% - 107px);
		width: 100%;
		margin: 107px auto 0 auto;
		&:before {
			content: '';
			width: 1px;
			height: 100%;
			background-color: $lines-color;
			position: absolute;
			bottom: 0;
			left: 15%;
			transform: translate(-50%, 0);
		}
		&:after {
			content: '';
			width: 1px;
			height: 100%;
			background-color: $lines-color;
			position: absolute;
			bottom: 0;
			right: 15%;
			transform: translate(+50%, 0);
		}
	}
	&__time {
		font-family: $main-font;
		font-weight: bold;
		font-size: 12px;
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(-90deg) translate(0, -50%);
		margin-left: -70px;
		z-index: 1;
	}
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 65%;
		margin: 0 auto 0 auto;
	}
	&__title {
		flex: 0 0 auto;
		@include adaptiv-font(96, 46);
		text-align: center;
		color: $white;
		font-family: $title-font;
		text-transform: uppercase;
		margin: auto 0 60px 0;
		position: relative;
		z-index: 1;
		h1 {
			margin: 0;
		}
		&:after {
			content: '';
			position: absolute;
			background: $yellow;
			width: 60px;
			height: 5px;
			border-radius: 50px;
			bottom: -25px;
			left: 50%;
			transform: translate( -50%, 0%);
		}
		.firm {
			font-family: $main-font;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 14px;
			margin: 0 0 30px 0;
		}
	}
	&__buttons {
		flex: 0 0 auto;
		@include flexbox;
		z-index: 1;
		.fullscreen__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;
			width: 200px;
			height: 60px;
			border-radius: 5px;
			font-family: $main-font;
			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			text-transform: uppercase;
			transition: background-color .5s linear;
			&:hover {
				background-color: $white;
				color: $black;
			}
			&_1 {
				background-color: $yellow;
				margin: 0 20px 0 0;
			}
			&_2 {
				background-color: transparent;
				border: 1px solid rgba(255, 255, 255, 0.5);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				margin: 0 0 0 20px;
			}
		}
	}
	.arrow {
		flex: 0 0 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto 0 83px 0;
		position: relative;
		animation: arrow-down 1.5s ease-in-out infinite;
		&:before {
			content: '';
			width: 1px;
			height: calc(100vh - 350px);
			background-color: $lines-color;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			animation: arrow-before 1.5s ease-in-out infinite;
		}
		&:after {
			content: '';
			width: 1px;
			height: 83px;
			background-color: $lines-color;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
		}
		.btn_down {
			background-color: transparent;
			border: none;
			margin: 0;
			padding: 0;
			width: 60px;
			height: 60px;
			border: 1px solid $lines-color;
			border-radius: 50%;
			position: relative;
		}
		&__bg {
			width: 40px;
			height: 40px;
			background-color: $white;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: width .3s linear, height .3s linear;
		}
		&__down {
			border: 1px solid rgba(51, 51, 51, 1);
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 3px;
			margin-left: -4px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: rotate(45deg) translate(-50%, -50%);
			transition: border-width .3s linear, padding .3s linear, margin-left .3s linear;
		}
		&:hover {
			.arrow__bg {
				width: 60px;
				height: 60px;
			}
			.arrow__down {
				border-width: 0 4px 4px 0;
				padding: 5px;
				margin-left: -7px;
			}
		}
	}
	&__iconbar {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		display: flex;
		flex-direction: column;
		z-index: 1;
		a {
			color: $white;
			font-size: 20px;
			width: 60px;
			height: 60px;
			border: 1px solid $lines-color;
			border-radius: 50%;
			margin: 10px 0 10px 0;
			position: relative;
			transition: background-color .5s linear;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate( -50%, -50%);
			}
			&:hover {
				color: $black;
				background-color: $white;
			}
		}
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	@media (min-width: 1440px) {
		&__title {
			font-size: 96px;
		}
	}
	@media (max-height: 670px) {
		.arrow {
			&:before {
				height: 300px;
				animation: arrow-before-mh 1.5s ease-in-out infinite;
			}
		}
	}
	@media (max-width: 1199px), (max-height: 600px) {
		&__logo {
			width: 120px;
			height: 120px;
			top: 20px;
		}
		.arrow {
			margin: auto 0 23px 0;
		}
	}
	@media (max-width: 767px) {
		.fullscreen__btn {
			&_1 {
				margin: 0 0 10px 0;
			}
			&_2 {
				margin: 0 0 0 0;
			}
		}
		&__iconbar {
			margin: 0 -10px 0 0;
			a {
				font-size: 16px;
				width: 45px;
				height: 45px;
			}
		}
		&__time {
			margin-left: -90px;
		}
		.arrow {
			flex: 0 0 50px;
			.btn_down {
				width: 50px;
				height: 50px;
			}
			&__bg {
				width: 35px;
				height: 35px;
			}
			&:hover {
				.arrow__bg {
					width: 50px;
					height: 50px;
				}
				.arrow__down {
					border-width: 0 3px 3px 0;
					margin-left: -6px;
				}
			}
		}
	}
	@media (max-width: 480px) {
		min-height: 560px;
		.fullscreen__btn {
			width: 150px;
		}
	}
}
//============================================================================================================================================================================
.about {
	flex: 1 0 auto;
	padding: 80px 0 100px 0;
	background-color: $white;
	color: $black;
	&__box {
		@include flexbox;
	}
	&__article {
		text-align: center;
	}
	@media (max-width: 767px) {
		padding: 30px 0 30px 0;
	}
}
//============================================================================================================================================================================
.team {
	flex: 1 0 auto;
	padding: 40px 0 100px 0;
	color: rgba(255, 255, 255, 0.9);
	background: url('../img/team-bg.jpg') center/cover no-repeat;
	text-align: center;
	@include lines;
	&__box {
		@include flexbox;
	}
	@media (max-width: 767px) {
		padding: 30px 0 30px 0;
	}
}
//============================================================================================================================================================================
.book {
	flex: 1 0 auto;
	background-color: $white;
	padding: 100px 0 40px 0;
	&__main {
		margin: 0 0 50px 0;
	}
	&__box {
		@include flexbox;
	}
	&__call {
		color: $grey-dark;
	}
	.form {
		input::-webkit-calendar-picker-indicator {
			display: none;
		}
		.datalist__arrow {
			&:after {
				content: '';
				border: 1px solid $grey-dark;;
				border-width: 0 3px 3px 0;
				display: inline-block;
				margin-left: -30px;
        		margin-top: 10px;
    			padding: 3px;
				transform: rotate(45deg);
				transition: border-width .3s linear, padding .3s linear, margin-left .3s linear;
			}
		}
	}
	@media (max-width: 767px) {
		padding: 30px 0 30px 0;
		&__main {
			margin: 0 0 30px 0;
		}
		.column {
			&_left {
				margin: 0;
			}
			&_right {
				display: none;
			}
		}
	}
}
//============================================================================================================================================================================
.specialty {
	flex: 1 0 auto;
	padding: 40px 0 80px 0;
	background: url('../img/specialty-bg.jpg') center/cover no-repeat;
	color: white;
	@include lines;
		&__box {
			@include flexbox;
			.column {
				min-width: 0;
			}
		}
		.slider {
			position: relative;
			z-index: 1;
			.slick-list {
				overflow: hidden;
				margin: 0 0 0 -50px;
			}
			.slick-track {
				display: flex;
			}
			&__item {
				padding: 0 0 0 50px;
			}
			.slick-dots {
				display: flex;
				justify-content: center;
				padding: 0;
				li {
					list-style: none;
					margin: 0 10px 0 10px;
					outline: none !important;
					button {
						font-size: 0;
						position: relative;
						background: transparent;
						&:active, &:focus {
							outline: none !important;
							}
							&::-moz-focus-inner {
							border: 0 !important;
							}
						&:hover:before {
							content:'';
							box-shadow: 0px 0px 0.5px 0.3px rgba(142, 129, 129, 1);
						}
						&:before{
							content:'';
							font-size: 0;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background-color: rgba(255, 255, 255, 0.5);
							border: none;
							position: absolute;
							left: 0;
							top: 40px;
						}
					}
					&.slick-active button:before {
						background-color: $white;
						position: absolute;
					}
				}
			}
		}
	@media (max-width: 767px) {
		padding: 30px 0 30px 0;
		.slick-dots {
			display: flex;
			justify-content: center;
			padding: 0;
			li {
				button {
					&:before {
						top: 10px !important;
					}
				}
			}
		}
	}
	@media (max-width: 767px) and (max-height: 750px) {
		padding: 10px 0 10px 0;
		.title-section {
			margin: 0 0 10px 0;
		}
		.pic {
			text-align: center !important;
			img {
				width: 65% !important;
			}
			.square {
				transform: translate(10%, -50%) !important;
			}
		}
		.slick-dots {
			li {
				button {
					&:before {
						top: 0 !important;
					}
				}
			}
		}
	}
	@media (max-width: 330px) and (max-height: 578px) {
		.title-article {
			font-size: 22px;
			line-height: 30px;
		}
		.subtitle {
			font-weight: 12px;
			line-height: 20px;
		}
		.text {
			font-size: 11px;
		}
		.slick-dots {
			margin: 0 0 15px 0;
		}
	}
}

//============================================================================================================================================================================
.delicious {
	flex: 1 0 auto;
	background-color: $white;
	padding: 70px 0 70px 0;
	&__top {
		max-width: 565px;
		margin: 0 auto 0 auto;
	}
	.tabs {
		&__captions {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			justify-content: center;
			margin: 0 0 50px 0;
			li:not(.active) {
				cursor: pointer;
			}
		}
		&__caption {
			flex: 0 1 auto;
			padding: 0 30px 0 30px;
			font-weight: bold;
			font-size: 12px;
			line-height: 18px;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-right: 1px solid rgba(51, 51, 51, 0.2);
			&:last-child {
				border-right: none;
			}
		}
		&__content {
			display: none;
			column-count: 3;
			column-gap: 7%;
			p {
				font-family: $title-font;
				color: rgba(51, 51, 51, 1);
				&:first-child {
					margin-top: 0;
				}
				span {
					font-family: $main-font;
					color: rgba(165, 165, 165, 1);
					font-size: 10px;
				}
			}
			&.active {
				display: block;
			}
		}
	}
	@media (max-width: 900px) {
		.tabs {
			&__captions {
				padding: 0;
			}
			&__caption {
				padding: 0 15px 0 15px;
			}
			&__content {
				column-count: 2;
			}
		}
	}
	@media (max-width: 767px) {
		padding: 30px 0 30px 0;
		.tabs {
			&__captions {
				margin: 0 0 20px 0;
			}
			&__content {
				column-count: 1;
				font-size: 14px;
				text-align: center;
			}
		}
	}
	@media (max-width: 320px) {
		.tabs {
			&__content {
				font-size: 12px;
			}
		}
	}
}
//============================================================================================================================================================================
.private {
	flex: 1 0 auto;
	background: url(../img/private-bg.jpg) center/cover no-repeat;
	padding: 40px 0 0 0;
	@include lines;
	.caption {
		background: $black;
		position: absolute;
		width: 17%;
		height: 100%;
		display: block;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $title-font;
		font-size: 24px;
		line-height: 12px;
		text-transform: uppercase;
		color: $white;
		white-space: nowrap;
	}
	&__box {
		&_1 {
			@include flexbox;
			.column {
				&_left {
					.caption {
						right: 0;
						justify-content: flex-start;
						p {
							transform: rotate(90deg) translate(50%, 0);
						}
					}
				}
				&_right {
					.caption {
						left: 0;
						justify-content: flex-end;
						p {
							transform: rotate(-90deg) translate(50%, 0);
						}
					}
				}
			}
		}
		&_2 {
			display: flex;
			.pic {
				flex: 0 0 25%;
				overflow: hidden;
				margin: 0;
				z-index: 1;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	&__call {
		color: rgba(255, 255, 255, 0.5);
		margin: 40px 0 40px 0;
	}
	@media (max-width: 991px) {
		.caption {
			font-size: 18px;
		}
	}
	@media (max-width: 767px) {
		&__box {
			&_2 {
				flex-wrap: wrap;
				.pic {
					flex: 0 0 50%;
				}
			}
		}
	}
}
//============================================================================================================================================================================
.contact {
	flex: 1 0 auto;
	background-color: $white;
	padding: 70px 0 100px 0;
	font-weight: 900;
	font-size: 14px;
	&__subtitle {
		max-width: 565px;
		margin: 0 auto 0 auto;
	}
	.t-input {
		height: 120px;
		padding: 20px 20px 20px 20px;
		resize: none;
	}
	&__address {
		height: 100%;
	}
	&__box {
		@include flexbox;
		height: 100%;
		.column {
			margin: 0 10px 0 0;
		}
		address, a {
			font-family: $main-font;
			font-style: normal !important;
			font-size: 14px;
			font-weight: 900;
			color: $grey-dark;
			white-space: nowrap;
			&.phone-link {
				margin: 0 0 0 0;
			}
		}
		.y-icon {
			color: $yellow;
			margin: 0 5px 0 0;
			&.fa-phone {
				transform: rotate(-90deg);
			}
		}
	}
	@media (max-width: 1199px) {
		.form__box_2 {
			display: block;
			.column-form {
				&_left {
					margin: 0 0 10px 0;
				}
				&_right {
					margin: 0;
				}
			}
		}
	}
	@media (max-width: 767px) {
		padding: 30px 0 30px 0;
		&__box {
			margin: 0 0 10px 0;
			address, a {
				line-height: 22px;
			}
		}
	}
}
//============================================================================================================================================================================
.map {
	flex: 1 0 auto;
	iframe {
		width: 100%;
		height: 475px;
		border: none;
	}
	@media (max-height: 650px) {
		iframe {
			height: 350px;
		}
	}
}
//============================================================================================================================================================================
.footer {
	flex: 1 0 auto;
	background-color: $black;
	padding: 40px 0 40px 0;
	color: rgba(255, 255, 255, 0.5);
	display: block;
	span {
		font-weight: 600;
	}
	@media (max-width: 767px) {
		padding: 30px 0 30px 0;
	}
}
//============================================================================================================================================================================
@keyframes arrow-down {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes arrow-before {
	0% {
		height: calc(100vh - 350px);
	}
	50% {
		height: calc(100vh - 340px);
	}
	100% {
		height: calc(100vh - 350px);
	}
}

@keyframes arrow-before-mh  {
	0% {
		height: 300px;
	}
	50% {
		height: 310px;
	}
	100% {
		height: 300px;
	}
}